body {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100vh;
}

/* PANTALLA INICIAL */
.ubicacionDiv {
    position: fixed;
    inset: 0;
    z-index: 10000;

    background-color: beige;

    width: 100%;
    height: 100%;

    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#ubicacionMensaje {
    color: black;
    display: block;
    min-height: 30px;
}

#ubicacionUsuario {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-top: -20px;
}


#cieloDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #02030a;
}

#fondoCielo {
    position: absolute;
    inset: 0;

    background-image: url("./cielo-noche.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;

    transition:
        opacity 10s ease,
        background-image 10s ease;
}

#cielo {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
}

#infoCielo {
    position: absolute;
    z-index: 2;
}


#camara,
#cieloCamara {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

#camara {
    z-index: 1;
}

#cieloCamara {
    z-index: 2;
    pointer-events: none;
}

#activar {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 100;
}

#orientacion {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    color: white;
    background: rgb(0, 255, 26);
    padding: 10px;
    border-radius: 10px;
}
